html,
#app {
  height: 100%;
  background: #f5f5f5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.header > h1 {
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 80px;
  text-align: center;
  color: rgba(175, 47, 47, .15);
}

.todo-contaienr {
  width: 500px;
}

.ant-input {
  padding-left: 34px !important;
}

.item .ant-input {
  border-color: #ededed;
  border-top: none;
  border-radius: 0;
}

.item .ant-input:hover,
.item .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: #ededed;
}

.item .ant-input:focus,
.item .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: #ededed;
  box-shadow: none;
}

.finished-item .ant-input {
  text-decoration: line-through;
  color: #d9d9d9;
}

.footer {
  display: flex;
  padding: 10px;
  border: 1px solid #ededed;
  border-top: none;
  background: #fff;
}

.footer > :first-child {
  flex: 1;
}

.btn-group {
  display: flex;
  flex-basis: 224px;
  justify-content: space-around;
  text-align: center;
}

.todo-contaienr .ant-input-affix-wrapper .ant-input-prefix {
  height: auto;
}
